<section class="pt-25 pb-20">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
            </div>
            <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-2-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">Hot</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$238.85 </span>
                            <span class="old-price">$245.8</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-4-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-4-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="new">New</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$173.85 </span>
                            <span class="old-price">$185.8</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-15-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-15-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="sale">Sale</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$215.85 </span>
                            <span class="old-price">$235.8</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-3-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-3-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">.33%</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Donec congue</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$83.8 </span>
                            <span class="old-price">$125.2</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-9-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-9-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">-25%</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$1238.85 </span>
                            <span class="old-price">$1245.8</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-7-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-7-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="new">New</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Praesent maximus</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$123 </span>
                            <span class="old-price">$156</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
                <div class="product-cart-wrap small hover-up">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="assets/imgs/shop/product-1-1.jpg" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal">
                                <i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                                tabindex="0"><i class="fi-rs-shuffle"></i></a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>$238.85 </span>
                            <span class="old-price">$245.8</span>
                        </div>
                    </div>
                </div>
                <!--End product-cart-wrap-2-->
            </div>
        </div>
    </div>
</section>