<section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
            </div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-1.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"> <img src="assets/imgs/shop/category-thumb-2.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Bags</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-3.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Sandan</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-4.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-5.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Shoes</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-6.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-7.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-8.jpg"
                                alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html">Hats</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>