<div class="table-responsive">
    <table class="table shopping-summery text-center clean">
        <thead>
            <tr class="main-heading">
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td class="image product-thumbnail"><img src="/user/assets/imgs/user/product-1-2.jpg" alt="#"></td>
                <td class="product-des product-name">
                    <h5 class="product-name"><a href="/product/<#%=product._id%>">J.Crew Mercantile Women's Short-Sleeve</a></h5>
                    <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                    </p>
                </td>
                <td class="price" data-title="Price"><span>&#8377;65.00 </span></td>
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                    </div>
                </td>
                <td class="text-right" data-title="Cart">
                    <span>&#8377;2992</span>
                </td>
                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i class="fi-rs-trash"></i></a></td>
            </tr>

            
            <tr>
                <td colspan="6" class="text-end">
                    <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="cart-action text-end">
    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
    <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue shopping</a>
</div>