<section class="content-main">
  <form id="myForm">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Add New Product</h2>
          <div>
            <button type="submit" id="add-product-btn" class="btn btn-md rounded font-sm hover-up">Add product</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-4">
              <label for="productName" class="form-label">Product title</label>
              <input type="text" placeholder="Type here" class="form-control" id="productName" name="productName"
                required>
            </div>
            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea placeholder="Type here" class="form-control" rows="4" id="productDescription"
                name="productDescription" required></textarea>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <div class="row gx-2">
                    <input placeholder="₹" type="text" class="form-control" id="productPrice" name="productPrice"
                      required>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Old price</label>
                  <input placeholder="₹" type="text" class="form-control" id="productOldPrice" name="productOldPrice"
                    required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Stocks</label>
                  <input placeholder="999" type="text" class="form-control" id="stocks" name="stocks" required>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row gx-2">
                <div class="col-sm-6 mb-3">
                  <label class="form-label">Category</label>
                  <select class="form-select" name="productCategory" id="productCategory" required>
                    <option selected hidden>Add to Category</option>
                    <% categories.forEach(category=> { %>
                      <% if(category.active) { %>
                        <option value="<%= category._id %>">
                          <%= category.name %>
                        </option>
                        <% } %>
                          <% }); %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img src="/admins/assets/imgs/theme/upload.svg" alt="">
              <input class="form-control" type="file" name="productImage" id="productImage" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script>

  const form = document.getElementById('myForm');
  const submitButton = document.getElementById("add-product-btn");

  submitButton.addEventListener("click", (event) => {
    event.preventDefault();
    const formData = new FormData(form);

    const url = "/admin/add-products";

    axios.post(url, formData, {
      headers: {
        "Content-Type": "multipart/form-data",
      }
    })
      .then(response => {
        console.log("Product added successfully!");
        callAlertify('success', 'Product added successfully!');
        event.target.form.reset();
      })
      .catch(error => {
        callAlertify('error', 'Error adding product');
        console.error("Error adding product");
      });
  });

</script>