<div
  class="bg-white rounded-lg flex items-center justify-between border py-5 mt-5 px-10"
>
  <form action="" method="get">
    <input
      type="text"
      name="search"
      placeholder="Search by product name"
      class="border rounded-lg p-2 w-80"
    />
    <button
      class="bg-black text-white px-5 py-2 font-semibold uppercase rounded-lg hover:text-turquoise"
      type="submit"
    >
      SEARCH
    </button>
  </form>
  <form action="">
    <select
      id="countries"
      class="bg-white capitalize border text-gray-900 text-sm rounded-lg p-2.5"
    >
      <option selected hidden>Category</option>
      <% categories.forEach(item => {%> <% if(item.active===true){ %>
      <option class="capitalize text-darkGray" value="<%= item._id %>">
        <%= item.categoryName %>
      </option>
      <% } %> <%}); %>
    </select>
  </form>
  <button
    id="openModalbtn"
    class="bg-turquoise px-5 py-2 font-semibold uppercase rounded-lg hover:bg-black hover:text-turquoise"
  >
    ADD PRODUCT
  </button>
</div>
