<div class="row">

    <!-- <div class="col-lg-6 mb-sm-15">
        <div class="toggle_info">
            <span><i class="fi-rs-/user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="/login" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
        </div>
        <div class="panel-collapse collapse login_form" id="loginform">
            <div class="panel-body">
                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                <form method="post">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="/Username Or Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="login_footer form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                            </div>
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md" name="login">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->


    <div class="col-lg-6">
        <div class="toggle_info">
            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
        </div>
        <div class="panel-collapse collapse coupon_form " id="coupon">
            <div class="panel-body">
                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                <form method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Coupon Code...">
                    </div>
                    <div class="form-group">
                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <% if (!locals.user) { %>
        <div class="toggle_info">
                <a href="/signup"><span>Create an account?</span></a>
            </div>
            <% } %>
        
    </div>
</div>